@charset "utf-8";
/* CSS Document */
#bodycont #homecontentpic #hometitle, #aboutpghead #aboutpgtitle, #daycaretrainingpghead #daycaretrainingpgtitle, #linkpghead #linkpgtitle, #contactpghead #contactpgtitle, #groomingpghead #groomingpgtitle, #petfoodpghead #petfoodpgtitle, #registerpghead #registerpgtitle {background:#e5e5e5 !important;}
#footercont, .pgcontent, .pgcontent .classcont {float:left;} 
#footercont, .formrow {width:100%;}
.pgcontent {width:898px;}
.classcontgray {left:0px;padding-right:0px;}